body {
  display: flex-center;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  max-width: 100vh;
  font-family: "Redressed", cursive;
  background-color: rgb(240, 217, 245);
  height: 100%;
  text-align: center;
  font-size: 18px;
  margin: 1em;
  border: rgb(124, 123, 123) dashed .5px;
  padding: 0 1em;
}

.container {
  clear: both;
  width: 100%;
  margin: 0 auto;
}

#placeholders {
  font-size: 3em;
}


.letters {
  display: flex;
  justify-content: center; 
}

canvas {
  color: rgb(240, 217, 245);
  border: black dashed 2px;
  padding: 2vw; 
  background-image: url(https://totemsurftribe.files.wordpress.com/2024/02/img_1983-2.jpg?resize=438%2C438);
  background-position: center;
  width: 80%;
  max-width: 400px; 
  margin: auto; 
}




h1,
h2,
h3 {
  font-family: "Redressed", cursive;
  font-weight: 100;
  margin: 5px 0;
}

h1 {
  text-transform: uppercase;
  font-size: 4em;
  font-weight: 600;

}

h2 {
  font-size: 2em;
}

p {
  font-size: 1.3em;
}

ul,
li {
  display: flex;
  justify-content: center;
  align-items: baseline;
  text-align: center;
  font-size: 30px;
  letter-spacing: .5em;
  text-transform: uppercase;

}

.active {
  opacity: .5;
  cursor: default;

  hover {
    z-index: fade;
    z-index: opacity;
  }
}

button#try {
  font-family: "Redressed", cursive;
  background: rgb(152, 149, 149);
  border-radius: 30px;
  color: white;
  border: solid 1px white;
  cursor: pointer;
  font-size: 1.2em;
  padding: 10px 0px;
  width: 160px;
  margin: 10px;
  outline: none;

  &:hover {
    transition: 0;
    background: rgb(184, 178, 178);
    border: solid 1px white;
    color: rgb(242, 241, 241);
  }
}

button#reset.rainbow-gradient {
  background: linear-gradient(to right, 
    rgb(249, 161, 249),
    indigo,
    rgb(158, 226, 241),
    rgb(142, 240, 142),
    yellow,
    orange,
    red
  );
  color: rgb(0, 0, 0); 
}


button#hint,
button#reset {
  font-family: "Redressed", cursive;
  background: rgb(152, 149, 149);
  border-radius: 30px;
  color: white;
  border: solid 1px white;
  cursor: pointer;
  font-size: 1.2em;
  padding: 18px 10px;
  width: 180px;
  margin: 10px;
  outline: none;

  &:hover {
    transition: 0;
    background: rgb(184, 178, 178);
    border: solid 1px white;
    color: rgb(242, 241, 241);
  }
}

.incorrect-guess {
  opacity: 1; 
  transition: opacity 0.3s ease; 
}

.incorrect-guess.faded {
  opacity: 0.5; 
}
